body,h1,h2{
	margin: 0;
}
body{
	background: #6ea7b2;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
img{
	border: none;
	vertical-align: top;
}
a{
	text-decoration: none;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
.floatL{
	float: left;
}
.floatR{
	float: right;
}
#page{
	width: 1200px;
	background: #fff;
	border-radius: 14px;
	margin: 0  auto;
}
#head{
	height: 70px;
	border-bottom: 1px solid #d1d9db;
	position: relative;
}
/*提示弹窗设置*/
#head .linkTan,.deTan,.selTan{
	height: 40px;
	padding-left: 52px;
	border-radius: 20px;
	position: absolute;
	top: -45px;
	left: 522px;
	box-sizing: border-box;
	color: #fff;
	font: 14px/40px "微软雅黑";
	/*opacity: 0;*/
	/*transition: 1s;*/
}
#head .linkTan{
	width: 256px;
	background: #f0898a url(../img/17.png) no-repeat 19px 8px;
}
#head .deTan{
	padding:0  25px 0 55px ;
	background: #87ce8c url(../img/18.png) no-repeat 19px 8px;
	
}
#head .selTan{
	padding:0  25px 0 55px ;
	background: #f3a960 url(../img/19.png) no-repeat 19px 8px;
}
#head .logo{
	padding: 4px 0 0 88px;
	height: 100%;
	background: url(../img/log.png) no-repeat 28px 18px;
	font: 18px/66px "微软雅黑";
	color: #2c96d0;
}
#head .user {
	width: 99px;
	height: 32px;
	background: url(../img/2.png) no-repeat right;
	margin: 16px 40px 0 0;
}
#head .user .name{
	width: 53px;
}
#head .user .set{
	width: 16px;
	height: 16px;
	margin-top: 8px;
}
#head .user span{
	width:1px;
	height: 22px;
	background: #e4e5e7;
	margin: 5px 14px 0 15px;
}
#topBar{
	padding: 10px 20px;
	background: #ecf1f7;
	border-bottom: 1px solid #d1d9db;
}
#topBar .top_left div,.top_right div{
	height: 36px;
	border: 1px solid #d1d9db;
	border-radius: 4px;
	padding:0 24px 0 55px ;
	margin-right:10px ;
	font: 14px/36px "微软雅黑";
	color: #63717a;
	cursor: pointer;
}
#topBar .top_left div:nth-of-type(1){
	background:#fff url(../img/3.png) no-repeat 21px 11px;
}
#topBar .top_left div:nth-of-type(2){
	background:#fff url(../img/4.png) no-repeat 21px 11px;
}
#topBar .top_left div:nth-of-type(3){
	background:#fff url(../img/5.png) no-repeat 21px 11px;
}
#topBar .top_left div:nth-of-type(4){
	background:#fff url(../img/6.png) no-repeat 21px 11px;
}
#topBar .top_left div:nth-of-type(5){
	background:#fff url(../img/7.png) no-repeat 21px 11px;
}
#topBar .top_left div:nth-of-type(6){
	background:#fff url(../img/8.png) no-repeat 21px 11px;
}
#topBar .top_left div:nth-of-type(7){
	padding: 0 18px;
	background:#fff url(../img/9.png) no-repeat 10px 11px;
}
#topBar .top_right{
	width: 106px;
	position: relative;
}
.top_right div:nth-of-type(1){
	padding: 0 18px;
	background:#fff url(../img/10.png) no-repeat 10px 11px;
}
#topBar .top_right div:nth-of-type(2){
	position: absolute;
	left: 48px;
	padding:0 12px 0 34px;
	background:#fff url(../img/11.png) no-repeat 10px 11px;
}
/*工具栏按下背景颜色变化*/
#topBar .top_right .active{
	background:#55addb url(../img/23.png) no-repeat 10px 11px;
}
#topBar .top_right a{
	display: block;
	width: 10px;
	height: 6px;
	background: url(../img/1.png) no-repeat;
	margin-top: 17px;
}
/*排列弹窗设置*/
#topBar .top_right .unwind{
	height: 40px;
	border-color: #2C96D0;
	border-radius: 4px 4px 0 0;
	border-bottom: none;
	position: absolute;
	left: 48px;
	z-index: 2;
}
#topBar .top_right .unwind a{
	background: url(../img/0.png) no-repeat;
}
#topBar .top_right .sortList{
	width: 130px;
	border: 1px solid #2C96D0;
	background-color: #fff;
	position: absolute;
	left: -26px;
	top: 40px;
	z-index: 1;
	display: none;
}
#topBar .top_right .sortList li{
	height: 36px;
	padding-left: 39px;
	font: 14px/36px "微软雅黑";
	color: #69747a;
	cursor: pointer;
}
#topBar .top_right .sortList li:nth-of-type(1){
	background: url(../img/20.png) no-repeat 10px 14px;
}
#topBar .top_right .sortList li:nth-of-type(2){
	background: url(../img/21.png) no-repeat 10px 14px;
}
#topBar .top_right .sortList li:nth-of-type(3){
	background: url(../img/22.png) no-repeat 10px 14px;
}
#topBar .top_right .sortList li:hover{
	background-color: #e1e8ee;
}
/*内容展示区域-左边列表*/
#content .con_left{
	width:258px ;
	height: 531px;
	border-right: 2px solid #e2e7eb;
}
 .con_left div{
	padding:9px 0 9px 22px;
	color: #637581;
	cursor: pointer;
}
 #content .con_left ul ul ul{
	display: none;
}
 .con_left div:hover{
	background-color:#f0f4f7 ;
}
/*按下时颜色改变*/
 .con_left .active{
	background-color:#e1e8ee ;
}
.con_left div span{
	display: inline-block;
	width:7px ;
	height: 10px;
	margin-top:4px;
	padding-right:8px ;
	vertical-align: top;
}
/*文件夹内部有子集关闭状态span的class名*/
 .con_left .closeIco{
	background: url(../img/15.png) no-repeat;
}

/*文件夹内部有子集打开状态下span的class名*/
 .con_left .openIco{
	width:10px ;
	height: 7px;
	background: url(../img/12.png) no-repeat;
}
.con_left div i{
	display: inline-block;
	width:16px ;
	height: 15px;
	margin-right: 6px;
	background: url(../img/14.png) no-repeat;
}
/*文件夹打开状态i的class名*/
 .con_left .open{
	background-image:url(../img/13.png);
}
/*各级文件夹字体不同设置*/
t .con_left .rank0{
	font: 16px/22px "微软雅黑" ;
	padding-left: 20px;
}
 .con_left .rank1{
	font: 14px/14px "微软雅黑" ;
	padding-left: 48px;
}
 .con_left .rank2{
	font: 12px/12px "微软雅黑" ;
	padding-left: 75px;
}
 .con_left .rank3{
	font: 10px/10px "微软雅黑" ;
	padding-left: 100px;
}
.con_left .rank4{
	font: 10px/10px "微软雅黑" ;
	padding-left: 125px;
}
 .con_left .rank5{
	font: 10px/10px "微软雅黑" ;
	padding-left: 150px;
}
 .con_left .rank6{
	font: 10px/10px "微软雅黑" ;
	padding-left: 170px;
}
 .con_left .rank7{
	font: 10px/10px "微软雅黑" ;
	padding-left: 190px;
}
/*内容展示区域-右边展示区*/
#content .con_right{
	width:940px ;
	position: relative;
}
#content .con_right .rightTop{
	height:48px;
	border-bottom: 2px solid #e1e9ec;
}
.con_right .rightTop .topBox div{
	height: 50px;
	padding: 15px;
	font: 14px/20px "微软雅黑";
	color: 0d0d0d;
	box-sizing: border-box;
	cursor: pointer;
}
/*选中状态下div的class名*/
#content .con_right .rightTop .active{
	border-bottom: 2px solid #55aeda;
	color:#81c1e5 ;
}
#content .con_right .rightTop .checkbox{
	width: 16px;
	height: 16px;
	padding: 0;
	margin:15px 30px 0 15px;
	border: 1px solid #d3d8db;
	color: #0093D1;
	cursor: default;
}
#content .con_right .rightTop span{
	width: 11px;
	height: 20px;
	background: url(../img/16.png);
	margin: 15px 10px;
}
/*下半部分*/
#content .con_right .rightBottom{
	height:481px;
	background-color:#f6f7fb ;
	border-radius: 0 0 14px 0;
	position: relative;
	border: 1px solid #f6f7fb;
	box-sizing: border-box;
}
 #content .con_right .gEmpty{
	background:url(../img/29.png) no-repeat ;
	background-size: 100%;
}
/*缩略图模式下列表效果*/
.rightBottom .text{
	width: 180px;
	height: 180px;
	padding-top: 140px;
	margin:40px 0 0 40px;
	position: relative;
	background:#ebeff0 url(../img/text.png) no-repeat 49px 45px;
	border: 1px solid #ebeff0;
	box-sizing: border-box;
}
.copyText{
	width: 80px;
	height: 71px;
	background: url(../img/text.png) no-repeat;
	position: absolute;
	left: 0;
	top: 0;
	opacity: .9;
	z-index:10;
}
.copyText span{
	width: 25px;
	height: 25px;
	font: 14px/25px "微软雅黑";
	color: yellow;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	right: 0;
	bottom: 0;
	background: red;
	opacity: .7;
}
.smallDiv{
	width:10px;
	height: 10px;
	background: red;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}
.rightBottom .text .tCheak{
	width: 16px;
	height: 16px;
	border: 1px solid #58acdb;
	position: absolute;
	left: 9px;
	top: 9px;
	display: none;
	font: 16px/16px "微软雅黑";
	text-align: center;
	cursor: default;
}
.rightBottom .text span{
	display: block;
	text-align: center;
	font: 14px/30px "微软雅黑";
}
/*框选的大框*/
.rightBottom .box{   
	position: absolute;
	left: 0;
	top: 0;
	border:1px solid #0093D1;
	background: #CEDCE8;
	opacity: 0.3;
}
#content .text input{
	display: block;
	width: 100%;
	text-align: center;
	font: 14px/30px "微软雅黑";
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
}
/*重命名状态下*/
#content .rightBottom .reName input{
	display: block;
}
/*#content .rightBottom .reName span{
	display: none;
}*/

.con_right .rightBottom .text:hover{
	border: 1px solid #54afdc;
	color: #54afdc;
	background-color:#fff ;
}
.con_right .rightBottom .text:hover .tCheak{
	display: block;
}
/*选中状态下text的设置*/
.con_right .rightBottom .active{
	border: 1px solid #54afdc;
	color: #54afdc;
	background-color:#fff ;
}
.con_right .rightBottom .active .tCheak{
	display: block;
}
.con_right .rightBottom .active .tCheak:after{
	content: "✔";
}
/*列表状态下显示效果*/
.rightBottom .list{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #e2e7ea;
	padding: 16px 20px 0 15px;
	box-sizing: border-box;
}
.rightBottom .list:hover{
	background-color: #fff;
}
/*选中效果*/
.rightBottom .bottomList{
	width: 100%;
}

.rightBottom .list .LCheak{
	width: 16px;
	height: 16px;
	border: 1px solid #58acdb;
	margin-right: 20px;
}
.rightBottom .list .tname{
	width: 180px;
	padding-left:34px ;
	background: url(../img/24.png) no-repeat;
	font:14px/24px "微软雅黑" ;
	color: #65727b;
	margin-right: 98px;
}
.rightBottom .list .tool{
	width: 160px;
	height: 17px;
	background: url(../img/25.png) no-repeat;
}
.rightBottom .list .tool a{
	float: left;
	width: 16px;
	height: 17px;
	margin-right: 20px;
}
.rightBottom .list time{
	font: 12px/22px "微软雅黑";
	color: #7e8387;
}
/*弹窗样式*/
.deleBox{
	padding:10px 0 10px 50px;
	background:url(../img/28.png) no-repeat 0 22px;
}
 .deleBox i{
	font-style: normal;
	display: block;
	color: #7f7f7f;
}
 .deleBox i:nth-of-type(1){
	font: 16px/32px "微软雅黑";
}
 .deleBox i:nth-of-type(2){
	font: 12px/26px "微软雅黑";
}


